@import url('https://emoji-css.afeld.me/emoji.css');

:root {
  --my-color: 'https://emoji-css.afeld.me/emoji.css';
}

li:last-child {
  background-color: rgb(0, 0, 255);
}

[lang='en'] {
  text-decoration: underline;
  font-size: 2em;
  text-transform: uppercase;
}

ul {
  display: flex;
}

li:nth-child(odd) {
  text-decoration: underline;
  text-decoration-color: green;
}

li {
  margin: 10px;
  list-style: none;
}

li::after {
  content: url('https://twemoji.maxcdn.com/2/72x72/1f4bc.png');
}

#provincias li {
  list-style: upper-roman;
}
#provincias li:nth-child(2) {
  list-style: none;
}
