@import 'normalize.css';

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 1000px;
  margin: auto;
}

header {
  background-color: black;
  color: white;
  padding-top: 40px;
  padding-left: 30px;
  padding-bottom: 25px;
  padding-right: 140px;
}

h1 {
  font-size: 48px;
  font-weight: bold;
}

h2 {
  font-weight: normal;
}

#header-text {
  font-size: 12px;
}

h1,
h2,
#header-text {
  padding: 6px;
  margin: 0%;
}

main {
  max-width: 700px;
  margin: auto;
}

h3 {
  color: rgb(102, 101, 101);
  font-size: 28px;
  border-bottom: 1px solid rgb(8, 8, 8);
  padding-bottom: 10px;
}

article {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
}

article > p {
  margin-right: 10px;
  padding-right: 10px;
  margin-top: 0%;
  margin-bottom: 0%;
}

form {
  display: grid;
}

label {
  padding-top: 20px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 18px;
}

input {
  height: 40px;
  border-radius: 0%;
  max-width: inherit;
  resize: none;
}

textarea {
  border-radius: 0%;
  max-width: inherit;
  resize: none;
}

input,
textarea {
  background-color: rgb(73, 73, 73);
  color: white;
}

#button {
  width: 110px;
  margin-top: 30px;
  background-color: black;
  color: white;
  border: none;
}

/* Configuracion para el móvil */
@media screen and (max-width: 400px) {
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 400px;
    margin: auto;
  }

  header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
  }

  h1 {
    font-size: 48px;
    font-weight: bold;
  }

  h2 {
    font-weight: normal;
  }

  #header-text {
    font-size: 12px;
  }

  h1,
  h2,
  #header-text {
    padding: 6px;
    margin: auto;
  }

  main {
    max-width: 700px;
    margin: auto;
  }

  h3 {
    color: rgb(102, 101, 101);
    font-size: 28px;
  }

  section {
    padding: 20px;
  }

  section article {
    display: flex;
    flex-direction: column-reverse;

    /* grid-template-columns: repeat(2, auto);
    justify-content: space-between; */
  }

  article > p {
    margin-right: 10px;
    padding-right: 10px;
    margin-top: 0%;
    margin-bottom: 0%;
  }

  form {
    display: grid;
  }

  label {
    padding-top: 20px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
  }

  input {
    height: 40px;
    border-radius: 0%;
    max-width: inherit;
    resize: none;
  }

  textarea {
    border-radius: 0%;
    max-width: inherit;
    resize: none;
  }

  input,
  textarea {
    background-color: rgb(73, 73, 73);
    color: white;
  }

  #button {
    width: 110px;
    margin-top: 30px;
    background-color: black;
    color: white;
    border: none;
  }
}
