@import 'normalize.css';

body {
  display: flex;
  justify-content: center;
}

#main-form {
  max-width: 800px;
  min-width: 400px;
  border: 3px solid green;
}

fieldset {
  background-color: rgb(204, 204, 204);
  padding: 1rem;
}

fieldset:hover {
  background-color: gray;
}

input:required {
  border: 1px solid red;
}

#submit {
  background-color: black;
  color: white;
  border: none;
}

fieldset:first-child,
fieldset:last-child {
  border-bottom: 5px solid black;
}
